<div class="container">
    <div class="card text-center">
        <div class="card-header">
          User Profile
        </div>
        <div class="card-body">
          <h5 class="card-title">Name : Saudagar Ansar Hussain</h5>
          <p class="card-text">About : With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>    
</div>
